.nav-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  text-decoration: underline;
}